{% extends "ejemplos/ejemplos_base.html" %}
{% block titulo %}nosotros{% endblock titulo %}



{% block contenido_principal %}
    <main class="col-lg-6 col-md-8 mx-auto">
        <section class="py-5 text-center banner">
            <div class="row py-lg-5">
                <div class="container-iz">
                    <p>quienes somos</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus aliquid, vero doloribus enim iure,!</p>
                </div>
            </div>
        </section>     
    </main>

    
</body>
</html>
{% endblock contenido_principal %}
